<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias type="com.iu.home.board.qna.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.iu.home.board.qna.QnaFileVO" alias="QnaFileVO"/>
		<typeAlias type="com.iu.home.util.Pager" alias="Pager"/>
		<typeAlias type="com.iu.home.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.iu.home.member.RoleVO" alias="RoleVO"/>
		
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
	</typeAliases>
</configuration>