<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.iu.home.member.MemberDAO">
	
	<select id="getIdCheck" parameterType="MemberVO" resultType="Integer">
		SELECT COUNT(ID) FROM MEMBER WHERE id=#{id}
	</select>
	
	
	<insert id="setJoin" parameterType="MemberVO">
		INSERT INTO MEMBER(id,pw,name,email) VALUES(#{id},#{pw},#{name},#{email})
	</insert>
	
	<select id="getLogin" parameterType="String" resultMap="getLoginResult">
		SELECT M.*, R.*
		FROM MEMBER M
			INNER JOIN
			MEMBER_ROLE MR
			ON M.ID = MR.ID
			INNER JOIN
			ROLE R
			ON MR.NUM = R.NUM
		WHERE M.id=#{username}
	</select>
	<resultMap type="MemberVO" id="getLoginResult">
		<id column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>

		<collection property="roleVOs" javaType="List" ofType="RoleVO">
			<id column="num" property="num"/>
			<result column="roleName" property="roleName"/>
		</collection>
	</resultMap>
	
	
	
	<insert id="setMemberRole" parameterType="MemberVO">
		INSERT INTO MEMBER_ROLE VALUES(#{id},(SELECT NUM FROM ROLE WHERE ROLENAME='ROLE_MEMBER'))
	</insert>
	
	
	
</mapper>