<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.iu.home.board.qna.QnaMapper">
	<select id="getList" parameterType="Pager" resultType="com.iu.home.board.qna.QnaVO">
		SELECT * FROM QNA ORDER BY NUM DESC limit #{startRow},#{perPage}
	</select>
	
	<insert id="setAdd" parameterType="QnaVO">
		INSERT INTO QNA VALUES(null,#{writer},#{title},#{contents},sysdate())
	</insert>
</mapper>