<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.iu.home.board.qna.QnaMapper">
	<select id="getList" parameterType="Pager" resultType="com.iu.home.board.qna.QnaVO">
		SELECT * FROM QNA ORDER BY NUM DESC limit #{startRow},#{perPage}
	</select>
	
	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num"> <!-- db에서 auto increment 되는거 사용 -->
		INSERT INTO QNA VALUES(null,#{writer},#{title},#{contents},sysdate(),0,0,0)
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES VALUES(NULL,#{num},#{fileName},#{oriName})
	</insert>
	
	<select id="getDetail" parameterType="QnaVO" resultMap="getDetailResult">
		SELECT Q.*, QF.*
		FROM QNA Q
			LEFT JOIN
			QNAFILES QF 
			ON Q.NUM=QF.NUM
		WHERE Q.NUM=#{num}
	</select>
	<resultMap type="QnaVO" id="getDetailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		<collection property="qnaFiles" javaType="List" ofType="QnaFileVO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
</mapper>